@model Product
@{
    ViewData["Title"] = "Detail";
    Product product = new Product();
}
<h2>Product Page</h2>
<!--hard coded right now-->
<!-- Container for the Product -->


    <div id="product-detail">
        <img src="/images/product-images/@product.ImageName />
        <div class="product-description">
            <h3>
                @product.Name
            </h3>

            <!-- .filled will make the star solid -->
            <div class="rating">
                <span class="filled">&#9734;</span>
                <span class="filled">&#9734;</span>
                <span>&#9734;</span>
                <span>&#9734;</span>
                <span>&#9734;</span>
            </div>

            <!-- Include this if the product has a Remaining Stock of 5 or less -->
            @if (product.RemainingStock <= 5 && product.RemainingStock > 0)
            {
            <p class="alert-remaining">BUY NOW! Only @product.RemainingStock left!</p>
            <p class="description">@product.Name</p>
            <p class="price">@product.Price</p>
            }

            <!-- If item is in stock -->
            @if (product.RemainingStock > 0)
            {
            <button class="action">Add to Cart</button>
            }
            <!-- OR if item is out of stock -->
            else if (@product.RemainingStock == 0)
            {
             <button disabled > Sold Out </button>
            }                
        </div>

    </div>
